
__pycache__/
*.pyc
*.pyo
*.so
*.egg-info/
*.egg

build/
dist/
*.tar.gz
*.whl

venv/
.venv/
env/
.env/

.idea/
.vscode/
*.swp
*.swo

logs/
images/
data/to_download.json
data/plots/*.png
data/plots/*.jpg

!.gitkeep
!logging_config.json

.DS_Store
Thumbs.db
desktop.ini


*.log
data/MetObjects.csv